.btn-container {
    padding: 2px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include break-content {
        flex-direction: row;
        align-items: center;
    }
}

.btn-dropdown {
    background-color: $grey;
    color: $theme-font;
    width: 190px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 4px 4px 0 0;
}

.btn-white {
    color: $theme-font;
}

.dropdown-container {
    position: relative;

    &:hover {
        .btn-dropdown {
            background-color: $grey;
        }
        .dropdown-content {
            display: block;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $theme-font;
    width: 190px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;

    * {
        color: black;
        font-size: 16px;
        padding: 2px 12px;
        text-decoration: none;
        display: block;
        
        &:hover {
            background-color: $grey;
        }
    }
}

.dropdown-active {
    background-color: $grey !important;
}

.objectives-btn {
    background-color: $grey;
    color: $theme-font;
    border: 1px solid #444;
    padding: 2px;
    margin: 1px;
    width: 50px;
    cursor: pointer;
}

.objectives-btn-active {
    background-color: #222;
}