.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $theme-font;

    h1 {
        font-size: 40px;
        margin: 0px;
    }

    .display-message {
        position: absolute;
        height: 30px;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        top: 0px;
        text-align: center;
    }
}