.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $theme-font;

    h1 {
        font-size: 40px;
        margin: 0px;
        width: 400px !important;
    }
}