//Theme Colours
$theme-background: #999;
$theme-card: rgba( 30, 30, 30, 0.7);
$theme-font: #eee;

//Server Colours
$red: #922;
$green: #292;
$blue: #229;
$grey: #777;

//Specific Colours
$link-grey: #bbb;

//Simple colour rules
.card-grey { border: 1px solid $grey; }
.grey { background-color: $grey }

.card-red { border: 1px solid $red}
.red { background-color: $red }
.inner-card-red { background-color: desaturate($red, 25%)}

.card-green { border: 1px solid $green; }
.green { background-color: $green }
.inner-card-green { background-color: desaturate($green, 25%)}

.card-blue { border: 1px solid $blue; }
.blue { background-color: $blue }
.inner-card-blue { background-color: desaturate($blue, 25%)}