//Theme Colours
$theme-background: #999;
$theme-card: rgba( 30, 30, 30, 0.7);
$theme-font: #eee;

//Server Colours
$red: #922;
$green: #292;
$blue: #229;
$grey: #777;

//Specific Colours
$link-grey: #bbb;

//Simple colour rules
.grey {
    border: 1px solid $grey;
    > :first-child { background-color: $grey}
}

.red {
    border: 1px solid $red;
    > :first-child { background-color: $red }
}


.green {
    border: 1px solid $green;
    > :first-child { background-color: $green }
}

.blue {
    border: 1px solid $blue;
    > :first-child { background-color: $blue }
}