h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

p {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.header, .header h1, .header h2 {
    font-family: 'Courier New', Courier, monospace !important;
}