h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-family: inherit;
}

p {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    font-family: 'Courier New', Courier, monospace;
}