//Theme Colours
$theme-background: #999;
$theme-card: rgba( 30, 30, 30, 0.7);
$theme-font: #eee;

//Server Colours
$red: #a22;
$green: #2a2;
$blue: #22a;
$grey: #777;


//Simple colour rules
.grey {
    border: 1px solid $grey;
    > :first-child { background-color: $grey}
}

.red {
    border: 1px solid $red;
    > :first-child { background-color: $red }
}


.green {
    border: 1px solid $green;
    > :first-child { background-color: $green }
}

.blue {
    border: 1px solid $blue;
    > :first-child { background-color: $blue }
}