.card-grey {
  border: 1px solid #777;
}

.grey {
  background-color: #777;
}

.card-red {
  border: 1px solid #922;
}

.red {
  background-color: #922;
}

.inner-card-red {
  background-color: #784343;
}

.card-green {
  border: 1px solid #292;
}

.green {
  background-color: #292;
}

.inner-card-green {
  background-color: #437843;
}

.card-blue {
  border: 1px solid #229;
}

.blue {
  background-color: #229;
}

.inner-card-blue {
  background-color: #434378;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

p {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

.header, .header h1, .header h2 {
  font-family: "Courier New", Courier, monospace !important;
}

.left-align {
  text-align: left !important;
  padding-left: 4px;
}

.reset-a, .reset-a:link, .reset-a:visited, .reset-a:hover, .reset-a:focus, .reset-a:active {
  color: inherit;
  text-decoration: none;
}

.btn-container {
  padding: 2px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (min-width: 1024px) {
  .btn-container {
    flex-direction: row;
    align-items: center;
  }
}

.btn-dropdown {
  background-color: #777;
  color: #eee;
  width: 190px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 4px 4px 0 0;
}

.btn-white {
  color: #eee;
}

.dropdown-container {
  position: relative;
}
.dropdown-container:hover .btn-dropdown {
  background-color: #777;
}
.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  width: 190px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.dropdown-content * {
  color: black;
  font-size: 16px;
  padding: 2px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content *:hover {
  background-color: #777;
}

.dropdown-active {
  background-color: #777 !important;
}

.objectives-btn {
  background-color: #777;
  color: #eee;
  border: 1px solid #444;
  padding: 2px;
  margin: 1px;
  width: 50px;
  cursor: pointer;
}

.objectives-btn-active {
  background-color: #222;
}

.card, .data-component-card {
  background-color: rgba(30, 30, 30, 0.7);
  margin: 10px;
  color: #eee;
}
.card div *, .data-component-card div * {
  text-align: center;
}

.data-component-card {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 0 5px 0;
}

.inner-card {
  color: #eee;
  margin: 4px 4px 4px 4px;
}
.inner-card div * {
  text-align: center;
}

.card-compact * {
  margin: 2px;
}

.card-padding {
  margin: 12px 0 0 0;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #eee;
}
.header h1 {
  font-size: 40px;
  margin: 0px;
}
.header .display-message {
  position: absolute;
  height: 30px;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  top: 0px;
  text-align: center;
}

.home {
  max-width: 1200px;
  margin: auto;
}

.killstracker-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.killstracker-grid h4 {
  text-align: right !important;
  padding: 10px 4px 0 4px;
}

.killstracker-graph {
  background-color: #333333;
  margin: 2%;
  padding: 3%;
  width: 90%;
  height: 60px;
}
.killstracker-graph rect:first-child {
  fill: #4a4;
}
.killstracker-graph rect:first-child:hover {
  fill: #8f8;
}
.killstracker-graph rect:last-child {
  fill: #a44;
}
.killstracker-graph rect:last-child:hover {
  fill: #f88;
}

.objectives-grid {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 2fr 2fr;
}
.objectives-grid h4 {
  text-align: right !important;
  padding: 10px 4px 0 4px;
}

.icon, .icon-castle, .icon-keep, .icon-tower, .icon-camp {
  height: 30px !important;
  width: 30px !important;
  font-size: 26px;
}

.objective-container {
  margin: 2px;
}
.objective-container p {
  padding-top: 10px;
  text-align: right !important;
  margin: 0;
}

.icon-camp {
  background-repeat: no-repeat;
  -webkit-mask-image: url("https://denforlatte.github.io/react-wvw-data//objective-icons/camp.svg");
  mask-image: url("https://denforlatte.github.io/react-wvw-data//objective-icons/camp.svg");
}

.icon-tower {
  background-repeat: no-repeat;
  -webkit-mask-image: url("https://denforlatte.github.io/react-wvw-data/objective-icons/tower.svg");
  mask-image: url("https://denforlatte.github.io/react-wvw-data/objective-icons/tower.svg");
}

.icon-keep {
  background-repeat: no-repeat;
  -webkit-mask-image: url("https://denforlatte.github.io/react-wvw-data/objective-icons/keep.svg");
  mask-image: url("https://denforlatte.github.io/react-wvw-data/objective-icons/keep.svg");
}

.icon-castle {
  background-repeat: no-repeat;
  -webkit-mask-image: url("https://denforlatte.github.io/react-wvw-data/objective-icons/castle.svg");
  mask-image: url("https://denforlatte.github.io/react-wvw-data/objective-icons/castle.svg");
}

.icon-grey {
  background-color: #777;
}

.icon-red {
  background-color: #922;
}

.icon-blue {
  background-color: #229;
}

.icon-green {
  background-color: #292;
}

body {
  background-color: #999;
  padding: 20px;
  max-width: 2000px;
  margin: auto;
}

h2 {
  font-size: 20px;
  margin: 0;
  padding: 5px 5px 5px 10px;
  text-align: left !important;
}

.row-responsive, .row-responsive-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 900px) {
  .row-responsive-3 {
    flex-direction: row;
  }
  .row-responsive-3 > div {
    width: 30%;
  }
}

@media (min-width: 700px) {
  .row-responsive-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .row-responsive-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.row-fixed {
  display: flex;
}
.row-fixed * {
  flex-grow: 1;
}
.row-fixed h2 span {
  font-size: 0.875em;
  color: #bbb;
}

.bar {
  width: 90%;
  margin: auto;
  border: 1px solid #555;
}

.ppt {
  max-width: 90px;
  white-space: nowrap;
  text-align: right !important;
}

/*# sourceMappingURL=main.css.map */
