@import 'base/module';
@import 'utils/module';
@import 'components/module';

body {
    background-color: $theme-background;
    padding: 20px;
    max-width: 2000px;
    margin: auto;
}

h2 {
    font-size: 20px;
    margin: 0;
    padding: 5px 5px 5px 10px;
    text-align: left !important;
}

.row-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row-responsive-3 {
    @extend .row-responsive;
    @include break-content(900) {
        flex-direction: row;
    }
}

.row-responsive-4 {
    @include break-content(700){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include break-content(1200){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.row-fixed {
    display: flex;
    * {
        flex-grow: 1;
    }

    // Formatting for the tops of the cards.
    h2 span {
        font-size: 0.875em;
        color: $link-grey;
    }
}

.bar {
    width: 90%;
    margin: auto;
    border: 1px solid #555;
}


//Very specific
.ppt {
    max-width: 90px;
    white-space: nowrap;
    text-align: right !important;
}