@import 'base/module';
@import 'utils/module';
@import 'components/module';

body {
    background-color: $theme-background;
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin: 0;
    padding: 5px 5px 5px 10px;
    text-align: left !important;
}

.row-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include desktop {
        flex-direction: row;

        > * {
            width: 30%;
        }
    }
}

.row-fixed {
    display: flex;
    * {
        flex-grow: 1;
    }

    // Formatting for the tops of the cards.
    h2 span {
        font-size: 0.875em;
        color: $link-grey;
    }
}

.bar {
    width: 90%;
    margin: auto;
    border: 1px solid #555;
}


//Very specific
.ppt {
    max-width: 90px;
    white-space: nowrap;
    text-align: right !important;
}