@import 'base/module';
@import 'utils/module';

body {
    background-color: $theme-background;
    padding: 20px;
}

h2 {
    margin: 0;
    padding: 5px 5px 5px 10px;
}

.row-responsive {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }

    * {
        flex-grow: 1;
    }
}

.row-fixed {
    display: flex;
    * {
        flex-grow: 1;
    }
}

.card {
    background-color: $theme-card;
    margin: 20px;
    color: $theme-font;
    div * {
        text-align: center;
    }
}

.bar {
    width: 90%;
    margin: auto;
    border: 1px solid #555;
}